{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
  <div class="row">
    <!-- Load Dashboard left sidebar -->
    {% include 'dashboard/sidebar.html' %}

    <div class="col-md-9">
      <h2>Add New Category</h2>
      <form action="{% url 'add_category' %}" method="POST" style="width: 500px; margin: auto;">
        {% csrf_token %}
        {{form | crispy}}

        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>

    <!-- Dashboard right sidebar -->
  </div>
{% endblock %}
